/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f0f0;
}

/* MAIN-CONTAINER */
#main-container{
    display: flex;
}

#banner-container,
#form-box{
    width: 50%;
}

#banner-container{
    display: flex;
    padding: 170px 150px 0 ;
    width: 70rem;
    flex-wrap: wrap;
}

#banner-container img{
    width: 330px;
    padding-right: 5px;
    position: relative;
}

#banner-container p{
    font-size: 28px;
    color: #1C1E21;
    padding-left: 33px;
    padding-bottom: 15px;
}


